@layer reset, base, tokens, recipes, utilities;

:root {
  --radii-l1: var(--radii-md);
  --radii-l2: var(--radii-lg);
  --radii-l3: var(--radii-xl);
}

body {
  font-family: var(--font-body);
}

strong {
  font-weight: 700;
}

a {
  color: var(--colors-trusty)
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), var(--font-body), Arial, Helvetica, sans-serif;
  color: var(--colors-trusty-12)
}